<h1>Create a New Group</h1>

<% if @group.errors.any? %>
  <div>
    <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @group, url: groups_path, local: true do |form| %>
  <div>
    <%= form.label :name, "Group Name" %>
    <%= form.text_field :name %>
  </div>
  
  <div>
    <%= form.label :description, "Group Description" %>
    <%= form.text_area :description %>
  </div>

  <%= form.hidden_field :owner_id, value: current_user.id %>

  <div>
    <%= form.label :invitation_code, "Invitation Code" %>
    <%= form.text_field :invitation_code %>
  </div>

  <%= form.hidden_field :is_active, value: true %>
  <%= form.hidden_field :distribution_started, value: false %>

  <div>
    <%= form.submit "Create Group" %>
  </div>
<% end %>
