<h1>Edit your profile</h1>

<%= form_with model: @user, local: true do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit "Save changes" %>
  </div>
<% end %>
